<div class="carousel" style="height: max-content;">
    <button (click)="previousImage()">←</button>

    <img style="width: 600px; height: 1000px; border-style: solid" *ngIf="products[i].image"
         src="{{ products[i].image }}">

    <button (click)="nextImage()">→</button>
</div>

<h2>Продукты</h2>

<div style="display: flex; flex-flow: row wrap;">

    <div *ngFor="let product of products">

        <h3>
            <a [title]="'Подробнее о' + product.name">
                {{ product.name }}
            </a>
        </h3>

        <img style="width: 600px; height: 600px;" *ngIf="product.image"
             src="{{product.image}}">

        <p *ngIf="product.description">
            Описание: {{ product.description }}
        </p>

        <p *ngIf="product.rating">
            Оценка: <span style="font-weight: bold">{{ product.rating }} / 10</span>
        </p>

        <p *ngIf="product.rating">
            <a style="font-weight: bold" href="{{ product.real_link }}">Купить</a>
        </p>

        <button (click)="share(product.real_link)" type="button">
            Поделиться
        </button>


        <app-product-alerts
                (notify)="onNotify()"
                [product]="product">
        </app-product-alerts>

    </div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->